<div class="container">
        <div class="row">
                <video width="500" controls>
                    <source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML5 video.
                </video>
                      
                <video width="500" controls>
                    <source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML5 video.
                </video>
        </div>
        <div class="row">
                <video width="500" controls>
                    <source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML5 video.
                </video>
                <video width="500" controls>
                    <source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML5 video.
                </video>
        </div>
    </div>
    <div id="overlay">
    <div class="style col-md-6">
        <div class="row">  
            <h4><strong>Title of the post</strong></h4>
        </div>
        
        <div class="row">    
            <div id="myCarousel" class="carousel slide">        
                <div class="carousel-inner">           
                    <div class="item active"> 
                        <a ><img class="thumbnail" src="../../assets/img/images.jpg" alt="Slide1"></a>     
                    </div>                                                                                  
                </div>                                                               
            </div><!-- End Carousel -->  
            <div class="icons" >
                <i class="ti-heart"></i> 39 Likes
            </div>
            <div class="comment">
                <a href="#">view all 160 Comments</a>
            </div>
            <div class="comments">
                <b>Sidharth Malhothra </b> This is awesome website
            </div>
        </div>
    </div>
    <div class="side col-md-4">
        <div class="row">
                <button class="button button2">Delete Image</button>
        </div>
    </div>
    </div>
           
    
    
    
    
    